[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mock = "*"
ipdb = "*"
pytest-cov = "*"
coveralls = "*"
pylint = "*"
mkdocs = "*"
markdown-include = "*"

[packages]
coloredlogs = "*"
alchy = "*"
click = "*"
path = "*"
toolz = "*"
"ruamel.yaml" = "*"
