name: Deploy mkdocs on new release action

on: [pull_request]

jobs:
 deploy-docs:
   name: Deploy Docs to GitHubIO
   runs-on: ubuntu-latest
   steps:
    - name: Checkout repo
      uses: actions/checkout@v2
    - name: Setup environment for docs deployment
      uses: actions/setup-python@v2
      with:
        python-version: 3.x
    - name: Install mkdocs
      run: pip install mkdocs mkdocs-material markdown-include
    - name: Deploy documentation
      run: mkdocs gh-deploy --force
